@page
@model TradingTools.Web.Pages.aaaModel

@{
    ViewData["Title"] = "aaa";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>aaa</h1>

<h4>T2TradeGroupEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="T2TradeGroupEntity.Name" class="control-label"></label>
                <input asp-for="T2TradeGroupEntity.Name" class="form-control" />
                <span asp-validation-for="T2TradeGroupEntity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T2TradeGroupEntity.Description" class="control-label"></label>
                <input asp-for="T2TradeGroupEntity.Description" class="form-control" />
                <span asp-validation-for="T2TradeGroupEntity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T2TradeGroupEntity.SymbolInfoId" class="control-label"></label>
                <select asp-for="T2TradeGroupEntity.SymbolInfoId" class ="form-control" asp-items="ViewBag.SymbolInfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="T2TradeGroupEntity.BaseAsset" class="control-label"></label>
                <input asp-for="T2TradeGroupEntity.BaseAsset" class="form-control" />
                <span asp-validation-for="T2TradeGroupEntity.BaseAsset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T2TradeGroupEntity.Created" class="control-label"></label>
                <input asp-for="T2TradeGroupEntity.Created" class="form-control" />
                <span asp-validation-for="T2TradeGroupEntity.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T2TradeGroupEntity.Updated" class="control-label"></label>
                <input asp-for="T2TradeGroupEntity.Updated" class="form-control" />
                <span asp-validation-for="T2TradeGroupEntity.Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
